
.note-form {
    margin-top: 10vh;
    display: grid;
    place-content: center;
    text-align: center;
}

.add-btn {
    background-color: black;
    color: aliceblue;
    padding: 5px 20px;
    width: 10vh;
    margin: 10px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.date-input {
    height: 3vh;
    width: 25vh;
    margin: 2vh; 
}

.note-input {
    height: 10vh;
    width: 50vh;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 2.5vh;
}